<section id="call-to-action">
  <div class="row column wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
    <div class="columns small-12 medium-1 small-centered medium-uncentered text-center medium-text-right">
      <i class="fa fa-2x fa-comments" aria-hidden="true" style="margin-top:0.4rem;"></i>
    </div>
    <div class="columns small-12 medium-8 small-centered medium-uncentered text-center medium-text-left">
      <h6>have a specific project or general enquiry?</h6>
      <span>Please contact us today and we will endeavour to get back to you within 24 hours.</span>
    </div>
    <div class="columns small-12 medium-3 small-centered medium-uncentered text-center">
      <a class="action ocbutton" href="contact.php"><h6>contact us</h6></a>
    </div>

  </div>
</section>
