<footer id="copy-footer">
  <div class="row column small-centered text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
    <span>
    We are proud supporters of <a href="http://www.firstlighttrust.co.uk/"  target="_blank"><img class="fadeIn style" src="./assets/img/brand/FirstLight-Trust-logo-310x6.jpg" alt="First Light Trust charity logo" width="200"></a>
    </span>
  </div>
  <div class="row column small-centered text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
    <span>
      Copyright &copy; <?php echo date('Y'); ?> Oculus Financial Intelligence LTD. All Rights Reserved.
      <!-- Website by <a href="http://www.superframe.io/" target="_blank" class="dissolve">SUPERFRAME</a> -->
    </span>
  </div>
</footer>
