<footer id="footer">
  <div class="row column small-centered text-center">
    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0"></div>
  </div>
  <br />
  <div class="row text-center">
    <!-- 
    <div class="columns small-12 medium-4 small-centered medium-uncentered wow fadeIn" data-wow-duration="2s" data-wow-delay="0">
      <h3>Services</h3>
      <ul>
        <li><a class="hashlink" href="services.php#financial-investors">financial investors</a></li>
        <li><a class="hashlink" href="services.php#corporate-clients">corporate clients</a></li>
        <li><a class="hashlink" href="services.php#private-clients">private clients</a></li>
      </ul>
    </div>  -->
    <div class="columns small-12 medium-4 small-centered wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
      <h3>Contact Oculus</h3>
      <ul>
        <li>25 Park Lane<br />London, W1K 1RA</li>
        <li>+44 (0)207 355 7793</li>
        <li>
          <a href="https://www.linkedin.com/company/oculus-financial-intelligence-limited/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <!--  
    <div class="columns small-12 medium-4 small-centered medium-uncentered wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
      <h3>How we work</h3>
      <ul>
        <li><a class="hashlink" href="how-we-work.php#contracting">contracting</a></li>
        <li><a class="hashlink" href="how-we-work.php#methodology">methodology</a></li>
        <li><a class="hashlink" href="how-we-work.php#capability">capability</a></li>
      </ul>
    </div> -->
  </div>
</footer>
