<nav id="main">
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <!-- <div class="title-bar-title"> MENU</div> -->
    </div>

    <div class="menu-centered" id="menu">
      <!-- <div class="menu-background"></div> -->
      <ul class="menu vertical medium-horizontal" >
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0"><a class="homeLink" href="index.php">home</a></li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s"><a href="services.php">services</a></li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s"><a href="how-we-work.php">how we work</a></li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s"><a href="our-team.php">our team</a></li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s"><a href="partners.php">partners</a></li>
        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"><a href="contact.php">contact</a></li>
      </ul>
    </div><!--/#menu-->

</nav>
